ENV=dev
ELASTIC_HOST=localhost
ELASTIC_PORT=9200
ELASTIC_PASSWORD=password
QDRANT_HOST=localhost
QDRANT_GRPC_PORT=6334
QDRANT_REST_PORT=6333
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
KEYCLOAK_ADMIN_USERNAME=username
KEYCLOAK_ADMIN_EMAIL=username@domain.com
KEYCLOAK_ADMIN_PASSWORD=password
CONTACT_EMAIL=albert-contact@data.gouv.fr
BACKEND_CORS_ORIGINS="http://localhost:4173,http://albert-api-example.com,https://albert-api-example.com"
API_WHITELIST_FILE=pyalbert/config/whitelist_config.json
MODELS_URLS='["http://localhost:8080"]' # URL of the models APIs
