accelerate
beautifulsoup4
bitsandbytes
colorama
datasets
docopt-ng
einops
langchain
lxml
nltk
openai
pandas
pandas-stubs
peft
python-dotenv
rank_bm25
sentence_transformers
termcolor
tiktoken
torch
transformers
weaviate-client
