Ecris un texte référencé en réponse à cette question : {{ query }}

{% if operators %}
Les administrations concernées par cette question sont : 
{% for operator in operators %}
- {{ operator }}
{% endfor %}
{% endif %}

{% if themes %}
La question porte sur les thèmes suivants : 
{% for theme in themes %}
- {{ theme }}
{% endfor %}
{% endif %}

Les références doivent être citées avec ce format (échape les guillements avec \", s'il y en a, dans les attributs de <ref>) : texte rédigé <ref title="[titre de la source]" text="[passage pertinent dans la référence]">[URL de la source]</ref>

Les {{ limit }} références disponibles pour répondre à la question sont:
{% for chunk in chunks_collection %}
url: {{ chunk.url }}
title: {{ chunk.title }} {% if chunk.context %}({{ chunk.context }}){% endif %}
text: {{ chunk.text }} {% if not loop.last %}{{ "\n" }}{% endif %}
{% endfor %}

Si les références ne permettent pas de répondre directement, essaies de trouver des éléments qui permettront de répondre à la question, sinon spécifie juste qu'il n'y a pas de réponse.