fastapi==0.103.1
uvicorn==0.23.2
vllm==0.2.1.post1
xformers==0.0.22


# xformer is frozen because of the following error:
# ImportError: libcudart.so.11.0: cannot open shared object file
# check https://github.com/vllm-project/vllm/issues/1369#issuecomment-1766295559
