ENV=dev
SECRET_KEY=secret4all
FIRST_ADMIN_USERNAME=username
FIRST_ADMIN_EMAIL=username@domain.com
FIRST_ADMIN_PASSWORD=password
MJ_API_KEY=foo
MJ_API_SECRET=bar
POSTGRES_PASSWORD=postgres
CONTACT_EMAIL=
